@font-face {
    font-family: 'poiret_oneregular';
    src: url('../fas/poiretone-regular-webfont.woff2') format('woff2'),
         url('../fas/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bellotabold';
    src: url('../fas/bellota-bold-webfont.woff2') format('woff2'),
         url('../fas/bellota-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bellotaregular';
    src: url('../fas/bellota-regular-webfont.woff2') format('woff2'),
         url('../fas/bellota-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}